nav{
    margin: 0px;
    background-color: #791D8F;
    color: white;
}
body{
    margin: 0px;
    font-family: "Inter", sans-serif;
}
a{ 
    color: white;
    text-decoration: none;
}
nav section button{
    text-decoration: none;
    background-color: #791D8F;
    color: white;
}

h1{
    width: 1440px;
    text-align: center;
    margin: auto;
    text-emphasis: bold;
}
nav > section{
    display: flex;
    width: 1440px;
    margin: auto;
    border: 1px solid black;
}
nav > section > *{
    border: 1px solid black;
    width: 20rem;
    text-align: center;
}
.dropdown{

}
.dropcont{
    width: 400px;
    margin: auto;
    display: flex;
}
.navlinks{
    padding: 40px;
}