/*Main css file for the site*/
body {
    font-family: "Inter", sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    scroll-behavior: smooth;
}

main{
    margin: auto 25vw;
    line-height: 1.6;
}

main a{
    text-decoration: none;
    color:#791D8F;
    font-weight: bold;
}

ul{
    padding: 0;
}

li{
    margin-left: 50px;
    padding: 10px;
}

main section{
    margin-left: 50px;
}

/*Footer CSS*/
footer {
    width: 100vw;
    margin: 0px;
    padding-top: 10px;
    background-color: #791D8F;
    font-size: 0.8em;
}

footer h1{
    font-size: 1.3em;
}

footer > div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #C3F73A;
    font-weight: 800;
}

.footer_arrow {
    display: none;  /*hiding arrow on desktop*/
}

.footer_end {
    margin-top: 10px;
    padding-bottom: 10px;
    justify-self: center;
}

/*moblie: feel free to make this wider if needed
this is just the smallest the footer can be without looking too weird*/
@media screen and (max-width: 600px){
    /*Footer CSS*/
    footer > div {
        flex-direction: column;
    }

    .quizzes_footer:first-child {
        margin-left: 0px;
    }

    .quizzes_footer{
        margin-left: 20px;
    }

    .quiz_head {
        display: inline-flex;
        align-items: center;
    }

    .footer_arrow {
        display: inline;
        position: relative;
        top: -1px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        padding: 0px;
        height: 20px;
        width: 20px;
    }

    main{
        margin: auto 50px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px){
    main{
        margin: auto 150px;
    }
}